---
- name: Get dynamic volume infos
  community.docker.docker_volume_info:
    name: "{{ traefik_volume_prefix }}-dynamic"
  register: traefik_dynamic_volume_infos

- name: Ensure Traefik dynamic configuration is up to date
  ansible.builtin.copy:
    content: "{{ item.content }}"
    dest: "{{ traefik_dynamic_volume_infos.volume.Mountpoint }}/{{ item.filename }}"
    mode: "{{ traefik_files_mode }}"
    owner: "{{ traefik_files_owner }}"
    group: "{{ traefik_files_group }}"
  loop: "{{ traefik_dynamic_configs }}"
  loop_control:
    label: "{{ item.name }}"
  register: traefik_dynamic_config
